.sellerAuth {
  margin: 50px;
  margin-top: 80px;
}
.signUpForm {
  margin-left: 50%;
  color: blueviolet;
  text-transform: uppercase;
}
.formLayout {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 5%;
}
.form-input {
  width: 55%;
  height: 40px;
  padding-top: 5px;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  margin-top: 15px;
}
.SignUpbtn{
  width: 55%;
  height: 40px;
  padding-top: 5px;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  margin-top: 15px;
  color: white;
  background-color: blueviolet;
}
